            li {
                list-style: none;
            }
            
            .hide {
                display: none;
            }
            
            .cards__list {
                margin: 0 auto;
                display: flex;
                padding: 10px;
                width: 800px;
                flex-wrap: wrap;
            }
            
            .cards__content {
                padding: 10px;
                background-color: none;
                border-radius: 10px;
                transition: background-color 0.2s ease;
            }
            
            .cards__item-shirt {
                padding: 10px;
                border: 2px solid black;
                font-size: 50px;
                text-align: center;
                align-content: center;
                border-radius: 10px;
                background-color: orange;
            }
            
            .cards__item-face {
                padding: 10px;
                border: 2px solid black;
                background-color: white;
                border-radius: 10px;
                font-size: 50px;
                text-align: center;
                align-content: center;
            }
            
            .cards__content:hover {
                background-color: OrangeRed;
            }
            
            .header,
            #cardCount {
                padding-top: 50px;
                font-size: 36px;
                margin-bottom: 30px;
            }
            
            .btn {
                margin: 0 auto;
                display: block;
                font-size: 36px;
                padding: 10px 30px;
                background-color: teal;
                border-radius: 16px;
            }
            
            #form,
            .downCounter {
                text-align: center;
            }
            
            .gameEnd {
                position: absolute;
                top: 30px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                margin: auto;
                width: 800px;
                height: 800px;
                background-color: rgba(255, 145, 0, 0.705);
                border-radius: 16px;
            }